# RFT experiment
rft-experiment/.venv/
rft-experiment/merged-model/
rft-experiment/lora-adapter/adapter_model.safetensors
rft-experiment/__pycache__/
rft-experiment/sema_artifacts/sema_artifacts.tar.gz
rft-experiment/sema_artifacts/.pytest_cache/
*.pyc
